* /*{
    background-color: rgb(0, 174, 255);   
}*/

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

img {
    height: 409px;
    width: 304px;
    margin-left: 20px;
    border-radius: 10px;
    float: left;
    padding-right: 1%;
}

links {
    margin-left: 0px;
}
li {
    text-align: left;
}

nav ul {
    text-align: left;
}

nav li {
    display: inline-block;
    margin-left: 70px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 22px;
}

nav a:hover {
    color:white
}

body {
    /*background-image: url(kwan-fung-s2zy7_0hrPY-unsplash.jpg);*/
    background-image: url(nature.jpg);
    background-size: auto;
}


