
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

img {
    height: 21%;
    width: 17%;
    margin-left: 20px;
    border-radius: 10px;
    float: left;
    padding-right: 1%;
}


li {
    text-align: left;
}


.links {
    text-align: center;
    width: 400px;
    margin: 1vh auto 0 auto;
    padding: 20px;
    background-color: none;
    border-radius: 4px;
    font-size: 12px;
}

.links a:hover {
    color: white;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 22px;
    padding-inline: 20px;
}


body {
    background-image: url(dominik-schroder-FIKD9t5_5zQ-unsplash.jpg);
    background-size: auto;
}

/*#form {

margin: auto;
width: 30%;
font-size: 12px;
}

#form label {
    display: inline-block;
    text-align: center;
    
}



#form button {
    padding: 10px;
    width: 30%;
    border-radius: 4px;
    border-color: azure;
    border-width: 4px;
    text-align: center;
    min-width: 85px;
    max-width: 110px;
    margin: auto;
    background-color: blue;
    color: azure;
    font-size: 14px;
    font-weight: 700;

}

.button {
    padding: 50px;
    text-align: center;
   
} */

#form {
    width: 300px;
    margin: 10vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: black;
    text-align: center;
}
#form h3 {
    color: black;
    text-align: center;
}



#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}


.input-control input {
    border: 2px solid white;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control.success input{
    border-color: green;
}

.input-control.error input {
    border-color: red;
}

.updates {
    margin-top: 100PX;

}

textarea{
    max-width: 300px;
}




